* {
  transition: color 0.3s ease, background-color 0.3s ease;
}

button.theme-status#theme-status {
  box-sizing: border-box;
  display: flex;
  /* display: grid; */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  background: transparent;
  cursor: pointer;
  color: inherit;
  
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  /* border-bottom: 1px solid #eee; */
}

button.theme-status#theme-status:hover {
  background-color: rgba(0, 0, 0, 0.1);
}