* {
  transition: color 0.3s ease, background-color 0.3s ease;
}

a[data-ac-role] {
    text-decoration: underline;
    cursor: pointer;
}

mark[data-ac-remind] {
    background-color: initial;
    color: inherit;
}